body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.center {
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #777;
}
.btn-1 {
  padding: 10px 20px;
  font-weight: bolder;
  margin-bottom: 10px;
  background: rgb(8, 134, 139);
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  margin-inline: 10px;
}